.sign-in {
    width: 25vw;//Always 30% of the total view width
    display: flex;
    flex-direction: column;//we want all of our elements inside of our sign in to sit vertically

    .title {//we add a bit of margin between our title.
        margin: 10px 0;//top and button 10px
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}