//These are scss variables
$sub-color: grey;
$main-color: black;

//misin are like reusable pieces of scss that we can put inside of our scss code
@mixin shrinkLabel { //It is a way for us to include this whole block wherever we say "@include shrinkLabel();"
  top: -14px;
  font-size: 12px;
  color: $main-color;//scss variable (black)
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;//scss variable (grey)
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();//It is a way for us to include this whole block wherever we say "@include shrinkLabel();"
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
