body {
    font-family: 'Permanent Marker', cursive;
    padding: 20px, 60px;/*20px: top and bottom. 60px: right and left*/
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}